body {
  background-color: rgb(217, 217, 217);
  /* background-color: #D9D9D9 */
  font-family: Helvetica;
}

h1 {
  color: rgb(217, 61, 4);
  /* color: #D93D04 */
}

p {
  color: rgb(63, 63, 64);
  /* color: #3F3F40 */
}
